html {
    box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
    background-color: #222831;
    color: #EEEEEE;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.app {
    border-radius: 2rem;
    background-color: #393E46;
    padding: 2rem;
    display: flex;
}

.options {
    padding: 0 2rem 0 0;
    display: flex;
    flex-direction: column;
}

#select-color {
    background-color: #00ADB5;
    border: none;
    border-radius: 2px;
    width: 5rem;
    height: 5rem;
}

.sketchpad {
    background-color: white;
    width: 550px;
    height: 550px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pixel {
    /* background-color: black; */
    /* border: 1px solid white; */
    flex: 0 1 calc(550px / 16);
}

.pixel-hover {
    background-color: black;
}

.btn {
    background-color: #00ADB5;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background-color: #00acb5c2;
}

.rainbow-box {
    color: #222831;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}

.btn-clean {
    background-color: #222831;
}

.btn-clean:hover {
    background-color: #222831c2;

}

.footer {
    margin-top: 10px;
    font-size: 16px;
}